html, body {
  height: auto;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  line-height: 1;
}
body {
  margin: 0;
}

ul {
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  margin: 0;
  list-style: none;
  display: inline-block;
}
p {
  color: #0d113d;
  font: 300 15px/26px 'Montserrat', sans-serif;
  margin: 0;
}

span {
  display: inline-block;
}
.bordered {
  position: relative;
  padding-left: 19px;
}
.bordered:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: #753d9d;
  border-radius: 5px;
}
h2, h3, h4 {
  color: #0d113d;
  margin: 0;
}
h1 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}
h2 {
  font-size: 33px;
  font-weight: 600;
}
h3 {
  font-size: 26px;
  font-weight: 600;
}
h4 {
  font-size: 21px;
  font-weight: 600;
}
h5 {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
}
a{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  transition: all ease-in-out 0.2s;
  color: #fff;
}
a:hover, a:active {
  color: #753d9d;
}

.header {
  padding-top: 45px;
  padding-bottom: 45px;
}
.header ul {
  padding-top: 10px;
  padding-bottom: 10px;
}
.article-top {
  background: url(../img/Shape-141.jpg) no-repeat;
  padding: 40px 0 180px;
}
.article-top li {
  display: inline-block;
  margin-right: 18px;
  line-height: 1;
}
.article-top li:last-child {margin-right: 0;}

.bordered-btn {
  min-width: 262px;
  /*padding-left: 18px;*/
  padding-top: 10px;
  border: 2px solid transparent;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  min-height: 65px;
  margin-top: 55px;
  margin-right: 15px;
  margin-left: 15px;
  line-height: 2.2;
  transition: all ease-in-out 0.3s;
}
.bordered-btn.btn-white {
  border-color: #fff;
}
.bordered-btn.btn-white:hover {
  background-color: #753d9d;
  border-color: #753d9d;
  color: #fff;
}

.bordered-btn.btn-dark {
  background-color: #fff;
  border-color: #0d113d;
  color: #0d113d;
  margin-bottom: 10px;
  text-align: center;
}
.bordered-btn.btn-dark:hover {
  background-color: #753d9d;
  border-color: #753d9d;
  color: #fff;
  margin-bottom: 10px;

}
.bordered-btn.btn-magenta {
  background-color: #753d9d;
  border-color: #753d9d;
  color: #fff;
  /*margin-bottom: 10px;*/

}
.bordered-btn.btn-magenta:hover {
  border-color: #fff;
}
.bordered-btn.btn-magenta-reverse {
  background-color: #753d9d;
  border-color: #fff;
  color: #fff;
}
.bordered-btn.btn-magenta-reverse:hover {
  background-color: #fff;
  color: #753d9d;
}



.btn-holder {
  margin: 0 auto;
}

.article-title p {
  color: #fff;
}

.welcome-block {
  padding: 70px 0;
  border-bottom: 3px solid #e0e0e0;
}



.mobile-first {
  background: url("../img/mobile-first.jpg") no-repeat;
  padding: 100px 0;
}
.mobile-first p {
  color: #fff;
  font-weight: 600;
  font-size: 50px;
  line-height: 52px;
}
.features-block ul {
  padding-top: 65px;
  padding-bottom: 65px;
}
.features-block h4 {
  display: inline-block;

}
.features-block p {
  margin-top: 28px;
  margin-bottom: 20px;
}
.features-block img {
  margin-right: 20px;
}

.welcome-block {
  font-size: 36px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 40px;
}
.welcome-block .dark {
  color: #0d113d;
  font-weight: 600;

}
.welcome-block .magenta {
  color: #753d9d;
  font-weight: 600;
}
.welcome-block .light {
  color: #0d113d;
  font-weight: 300;
}
.welcome-block p {
  margin-top: 40px;
}



.services-block {
  margin-top: 65px;
  margin-bottom: 45px;
  border-bottom: 3px solid #e0e0e0;
}
.services-block h3 {
  margin-bottom: 25px;
}
/*.services-block img {
  min-height: 340px;
}*/
.services-block .services-benef {
  margin-bottom: 30px;
  height: 100%;
  width: 100%;
  position: relative;
}

.services-block .services-block-holder {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 30px;
  height: 340px;
}

.services-block-holder:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(25, 11, 35, 0.6);
}
.services-block-holder:after {
  content: '';
  height: 100px;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(to bottom, rgba(41,137,216,0) 0%,rgba(117,61,157,0.6) 100%);
  transition: all ease-in-out 0.5s ;
}
.services-benef .st-holder {
  position: absolute;
  color: #ffffff;
 /* bottom: 10px;*/
  left: 15px;
  top: 300px;
  z-index:1;
  transition: top ease-in-out 0.5s ;
}
.st-holder:after {
  content: '';
  left: 0;
  bottom: -50px;
  min-width: 120px;
  position: absolute;
  transition: all ease-in-out 0.5s ;
}
.services-block-holder:hover .st-holder {
  top: 135px;
}
.services-block-holder:hover:after  {
  height: 100%;
  background: #753d9d;
}
.services-block .hor-line {
  width: 120px;
  background: #ffffff;
  border-radius: 4px;
  height: 4px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.st-holder p, .st-holder a {
  color: #fff;
  padding-right: 23px;
}


.services-block .services {
  background: #0d113d;
  border-radius: 4px;
  height: 340px;
}
.services-block .all-services {
  top: 245px;
  left: 250px;
  color: #fff;
  border-radius: 4px;
  height: 340px;
}
.services-block .all-services .hor-line {
  width: 90px;
}


.support-holder {
  position: relative;
}
.support-block .support-holder h2 {
  margin-bottom: 20px;
}
.support-block-list {
  margin-top: 40px;
  margin-bottom: 40px;
}
.support-block-list li {
  display: block;
  color: #616161;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 7px;
  position: relative;
  padding-left: 15px;
}
.support-block li:before{
  content: "";
  width: 10px;
  height: 10px;
  left: 0;
  top: 25%;
  position: absolute;
  border-radius: 50%;
  background-color: #616161;
}
.support-holder img{
  position: absolute;
  left: -100%;
  bottom: 0;
  transform: translateX(50%);
}

.contact-block {
  background-color: #753d9d;
  margin-bottom: 50px;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.contact-block-holder {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.contact-block h3 {
  color: #fff;
}
.contact-block .bordered-btn.btn-magenta-reverse {
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
}





.portfolio-block {
  margin-bottom: 47px;
  position: relative;
}
.portfolio-block h3 {
  margin-bottom: 25px;
}
.portfolio-slider .slick-prev {
  background: url(../img/arrow-left.png) 50% no-repeat;
  right: 55px;
}
.portfolio-slider .slick-next{
  background: url(../img/arrow-right.png) 50%/cover no-repeat;
  right: 15px;
}
.portfolio-slider.slick-slider {
  position: static;
}
.portfolio-slider .slick-list {
  margin: 0 -15px;
}
.portfolio-slider .slick-arrow {
  color: transparent;
  font-size: 0;
  position: absolute;
  width: 30px;
  height: 20px;
  top: 0;
}
.slick-slider img {
  width: 100%;
}
.slide-wrapper {
  padding: 0 15px;
}
.img-wrapper {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.img-wrapper:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(25, 11, 35, 0.2);
}





.blog-block {
  margin-bottom: 35px;
}
.blog-block h3{
  margin-bottom: 40px;
}

.blog-block .blog-events {
  padding-top: 35px;
  padding-bottom: 35px;
  border-bottom: 2px solid #a2a2a2;
}

.register-block{
  padding: 32px 18px 32px 25px;
  /*margin-top: 35px;
  margin-bottom: 35px;*/
  background-color: #753d9d;
  color: #fff;
}
.register-article h4{
  color: #fff;
}
.register-block

.footer-block {
  background-color: #0d113d;
  color: #fff;
  margin-top: 75px;
  margin-bottom: 75px;
}




.article-top {
  position: relative;
  background: transparent;
}
.header-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.header-wrapper {
  position: relative;
}

.header-slade-wrapper {
  min-height: 763px;
  height: 100%;
}
.header-slade-wrapper.slide-1 {
  background: url(../img/Layer-15.jpg ) no-repeat 50%/cover;
}
.header-slade-wrapper.slide-2 {
  background: url(../img/Layer-15.jpg ) no-repeat 50%/cover;
}
.header-slade-wrapper.slide-3 {
  background: url(../img/Layer-16.jpg ) no-repeat 50%/cover;
}

@media screen and (max-width:640px) {
  h1 {
    font-size: 26px;
  }
  .bordered-btn {
    margin-top: 25px;
    font-size: 15px;
  }
  .mobile-first {
    padding-top: 30px;
    font-size: 20px;
  }
}